PORT=8000
MONGODB_URI=mongodb+srv://<userName>:<password>@neploom.mif03.mongodb.net/
NODE_VERSION=20.18.3
CORS_ORIGIN=http://localhost:3000
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret

########## ENV VARS TO CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=